.jumbotron{
    @include flex;
    height: 600px;
    width: 100%;

    .left{
        height: 100%;
        width: 50%;
        color: #1b3c59;
        background-color: #e8ebf1;
    }

    .right{
        height: 100%;
        width: 50%;
        background-color: #1b3c59;
        color: #fff;
    }

    .bg-blue-title {
        padding: 0 80px;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 30px;
    }

    h3 {
        max-width: 95%;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .risposta {
        line-height: 30px;
        font-size: 18px;
    }

    .fa-plus {
        float: right;
        cursor: pointer;
    }

    .faq-body-question {
        margin: 40px 0;
        padding: 0 80px;
    }

    .risposta.aperta {
        display: block;
    }

    .risposta {
        display: none;
    }

}
